{% extends 'base.html'%}

{% block content %}
.
<div class="container">

    <hr>

    {% if location_images %}
    <div class="card-columns">

        {% for image in location_images %}

        <div class="card" data-toggle="modal" data-target="#{{image.id}}">
            <img src="{{image.img.url}}" alt="{{image.name}}" class="card-img">
        </div>
        
        <div class="modal" id="modal{{image.id}}" tabindex="-1" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{image.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{image.img.url}}" alt="{{image.name}}" class="img-fluid">
                    <p class="text-center">{{image.description}}</p>
                    <span class="btn btn-sm btn-outline-success">{{image.category}}</span> <a
                            href="/location/{{image.location}}"
                            class="btn btn-sm btn-outline-info">{{image.location}}</a>
                </div>
                <div class="modal-footer">
                    <input class="form-control input-lg" type="text" value="{{image.image.url}}"
                    id="{{image.id}}.url">
                <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
              </div>
            </div>
          </div>


        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}
