{% extends 'base.html' %}

{% block content%}
<div id="landing-page" class="container-fluid">
    <div>
        <h1>La Galleria welcomes you to view our best photos and travels your mind to memories made and moments shared across locations and times!</h1>
    </div>
    <div class="row">
        <div class="col-md-6  col-sm-6  col-lg-6">
            <h3>
              La  Galleria
            </h3>
            <h3>
                Search for different cateories and locations
            </h3>
        </div>
        <div class="col-md-6 col-sm-6  col-lg-6">
            <p>lorem ipsum</p> 
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                Destinations
            </div>
            <div class="col-md-3 ">
                Interior-Deco
            </div>
            <div class="col-md-3 ">
                Nature
            </div>
            <div class="col-md-3 ">
                People
            </div>
        </div>
<!-- the first row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
        </div>

        <!-- the second row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}