{% extends 'base.html' %}


{% block content%}


<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
               <a href="">Destination</a>
            </div>
            <div class="col-md-3 ">
                <a href="">Interior-Deco</a>
            </div>
            <div class="col-md-3 ">
               <a href="">Lifestyle</a>
            </div>
            <div class="col-md-3 ">
                <a href="">People</a>
            </div>
        </div>
        <!-- the first row -->
    <div class="row">
        {% for image in images %}
        <div class="card col-md-3 col-sm-12 col-lg-4 mb-3 g-1">
            <div class="card" data-bs-toggle="modal" data-bs-target="#modal{{image.id}}">
                <img src="{{image.img.url}}" alt="{{image.name}}" class="card-img">
                <p class="image-title">{{image.name}}</p>
            </div>


            <div class="modal" id="modal{{image.id}}" tabindex="-1" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{image.name}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.img.url}}" alt="{{image.name}}" class="img-fluid">
                        <p class="text-center">{{image.description}}</p>
                        <span class=""> Category: {{image.category}}</span> 
                        <p class="me-0">Located in: </p><a
                                href="/location/{{image.location}}"
                                class="btn btn-sm btn-outline-info ">{{image.location}}</a>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control input-lg" type="text" value="{{image.image.url}}"
                        id="{{image.id}}.url">
                    <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% empty %}
        <div class="row">
            <h3 class="text-ceter"> Io kitu unatafuta hakunaa!!</h3>
        </div>
        {% endfor %}
    </div>

    </div>
</div>

    {% endblock %}